:root {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
}

p{
  margin: 0;
  padding: 0;
  line-height: 20px;
}

#app{
  height: 100%;
  width: 100%;
}

main{
  width: 100%;
  height: 100%;
}

.map {
  width: 100vw;
  height: 100vh;
}

#left-panel{
  margin: 0;
  width: 290px;
  /* width:60px; */
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000;
  background-color: black;
}

#switch-holder{
  width: 100%;
  height: 60px;
  position: absolute;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* padding-left: 20px;
  padding-right: 20px; */
}


.left-content{
  height:calc(100% - 60px);
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  overflow: auto;
  font-size: 16px;
}

.left-content p{
  margin-bottom: 20px!important;
  padding: 0;
  color: white;
}

#symbology{
  text-align: center;
  margin:auto
}

.region-circle {
  background: black;
  border: 3px solid #009BF5;
  border-radius: 50%;
  color: white;
  font-size: 9px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}

.region-circle .region-annot{
  width: 100%;
  height:100%
}

.leaflet-bar{
  border: 1.5pt solid white! important; 
}

.leaflet-bar a{
  background-color: black! important;
  color: white! important;
  font-size: 16px! important;
  font-family: "Noto Sans", sans-serif! important;
  width: 25px! important;
  height: 25px! important;
  line-height: 25px! important;
}

.leaflet-tooltip-pane{
  z-index: 1000 !important;
}

.leaflet-tile {
  width: 258px !important; 
  height: 258px !important;
}


.country-count{
  cursor: pointer;
}

.country-title{
  font-size: 14pt;
  font-weight: 600;
}

.country-name{
  font-size: 11pt;
  font-weight: 400;
  color:rgba(255, 255, 255, 0.5)! important;
}

.country-name:hover{
  color: white !important;
}

.country-count{
  font-size: 11pt;
  font-weight: 600;
  color:rgba(255, 255, 255, 0.5)! important;
}

.country-info{
  font-size: 11pt !important;
  font-weight: 400;
  color:rgba(255, 255, 255, 0.6)! important;

}

.event-title{
  font-size: 11pt;
  font-weight: 600;
}

.event-info{
  font-size: 11pt !important;
  font-weight: 400;
  color:rgba(255, 255, 255, 0.5)! important;
}

.event-icon{
  border-radius: 50%;
  text-align: center;
  color: white;
  /* center vertically */
  position: absolute;
}

.event-icon.radical{
  background: #f0227C;
}

.event-icon.deradical{
  background: #6366F1;
}

.popup-container{

  min-width: 200px;
  max-width: 250px;
  padding: 5px;
  /* Word wrap */
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  /* Firefox */
  overflow-wrap: break-word;
  /* IE */
  -ms-word-break: break-all;
  /* IE 7 */
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;


}

